<!DOCTYPE html>
<html>
<head>
	<title>Hello perras</title>
</head>
<body>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{url_for('static', filename='jquery.js') }}">\x3C/script>')</script>
<script type=text/javascript>
$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
  $(function() {
    $('#calculate').bind('click', function() {
      $.getJSON($SCRIPT_ROOT + '/calcular', {
        a: $('input[name="calculo"]').val()
      }, function(data) {
      	console.log(data)
        $("#result").val(data);
      });
      return false;
    });
  });
  $(function() {
    $('#save').bind('click', function() {
      $.getJSON($SCRIPT_ROOT + '/save', {
        a: $('input[name="session"]').val()
      }, function(data) {
        console.log(data)
        alert(data + $('input[name="session"]').val());
      });
      return false;
    });
  });
  $(function() {
    $('#show').bind('click', function() {
      $.getJSON($SCRIPT_ROOT + '/show', {
        a: $('input[name="session"]').val()
      }, function(data) {
        alert(data);
      });
      return false;
    });
  });
</script>
<style type="text/css">
    tr {
      padding: 2px 10px ;
    }
    td, th {
      padding: 2px 10px ;
      text-align: center;
    }
    table {
      justify-content: center;
      display: flex;
    }
    .marginTop {
      margin-top: 10px;
    }
    .margin {
      margin: 20px 0;
    }
    th, td {
      border: 1px solid black;
    }
  </style>
  <div class="container text-center">
    <div class="row margin"> 
      Input: <input type="text" name="calculo" id="calculo">
      Output: <input type="text" name="result" id="result" disabled>
    </div>
    <div class="row margin">
      <button id="calculate">Cacular</button>
    </div>
    <div class="row">
      <input type="text" name="session" id="session" placeholder="Sesion">
    </div>
    <div class="row marginTop">
      <button id="save">Guardar</button>
      <button id="show">Restaurar</button>
    </div>
    <div class="row marginTop">
      <table>
        <tr>
          <th>Inputs</th>
          <th>Ouputs</th> 
        </tr>
        <tr>
          <td>2+2</td>
          <td>4</td> 
        </tr>
        <tr>
          <td>3-1</td>
          <td>2</td> 
        </tr>
      </table>
    </div>
  </div>
</body>
</html>